{% extends 'base.html' %}

{% block content %}
    <!-- Content specific to your current app -->
    <div class="container">
        <span class="text-container">
            <p class="text">Hi, I'm Julian Rios Vasquez.</p>
        </p>
    </div>

    <div class="container">
        <p> Software Engineer with  4+ years of experience building high performance software solutions to support companies growth. High skills in back-end  and  automation  fields. Always  willing to learn new things and bring my  knowledge to  others,  convinced the best way  to  learn  is teaching and receiving feedback</p>
    </div>



{% endblock %}