body {
    background-color: #DDE6ED;

}

@font-face {
    font-family: 'PostNoBillsJaffna-Medium';
    src: local('PostNoBillsJaffna'),
         url('/static/fonts/PostNoBillsJaffna-Medium.ttf') format("truetype");

}

@font-face {
    font-family: 'Pridi-Regular';
    src: local('PostNoBillsJaffna'),
         url('/static/fonts/Pridi-Regular.ttf') format("truetype");

}


.navbar-custom {
    background-color: #DDE6ED;
    font-family: 'PostNoBillsJaffna-Medium';
    font-size: 20px;
    height: 70px;
}

.navbar-custom .nav-link:hover{
    text-decoration: underline;
}


.navbar .nav-link.active {
    position: relative;
    z-index: 1;
}
  
.navbar .nav-link.active::after{
    content: "";
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%; 
    height: 150%; 
    background-color: #27374D; 
    z-index: -1; 
}

.navbar .nav-link.active span {
    color: #ece7e7;
    text-decoration: underline;
}

.container { 
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}

.text-container  {
    display: inline-block;
}

.text {
    font-size: 3.5em;
    font-family: 'Pridi-Regular';
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(20),
        cursor .4s step-end infinite alternate;
    position: relative;
}

/* cursor blinking */
@keyframes cursor {
    50% { border-color: transparent }
}

/* typing effect */
@keyframes typing {
    from {width: 0 }
}

.description {
    font-family: 'PostNoBillsJaffna-Medium';
    font-size: 20px;
    width: 70%;
    text-align: justify;
    opacity: 0;
    animation: slide-in 1s forwards;
}

@keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .slider img {
    width: 200px; /* Adjust as needed */
    height: auto;
    margin: 0 10px; /* Adjust as needed */
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .prev-button {
    left: 10px; /* Adjust as needed */
  }
  
  .next-button {
    right: 10px; /* Adjust as needed */
  }







  